/*===== common =====*/
body {
	font-family: arial, "맑은 고딕";
	font-size: 14px;
}
a {
	text-decoration: none;
}
a:hover {
	background: #eee;
}
.w-1-3 {
	width: 33.33333%;
}
.ellip {
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal !important;
}
.max-width {
	max-width: 980px;
}
.m-center {
	margin-right: auto;
	margin-left: auto;
}
.clearfix:after {
  content:'';
  display: block;
  clear: both;
}